# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# graphql
.introspected-schema.json

# testing
/coverage

# production
/build
/build-server

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

